name: Build and Deploy

on: [push]

env:
  GOSU_VERSION: 1.4.3
  MRUBY_VERSION: 3.2.0

permissions:
  contents: read

# FIXME: Automatically get the version, and really don't hardcode everything
jobs:
  windows:
    runs-on: windows-2022

    env:
      MRUBY_CONFIG: ../gosu-mruby-wrapper/scripts/mruby/windows.rb
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        install: >-
          ruby
          git
          make
          cmake
          mingw-w64-ucrt-x86_64-gcc
          mingw-w64-ucrt-x86_64-dlfcn

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Compile wrapper
      shell: msys2 {0}
      run: |
        cd $GITHUB_WORKSPACE
        mkdir build
        cd build/
        cmake ..
        make
        mkdir bundle
        mv gosu-mruby.exe bundle/
        mv ../vendor/gosu/lib64/gosu-ffi.dll bundle/
        mv ../vendor/gosu/lib64/SDL2.dlll bundle/
        mv /ucrt64/bin/libstdc++-6.dll bundle/
        mv /ucrt64/bin/libgcc_s_seh-1.dll bundle/
        mv /ucrt64/bin/libwinpthread-1.dll bundle/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-win64
        path: $GITHUB_WORKSPACE/build/bundle

  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: simplify-build

    - name: Install requirements of Gosu
      run: sudo apt install build-essential libsdl2-dev libgl1-mesa-dev libgmp-dev libfontconfig1-dev

    - name: Compile wrapper
      run: |
        cd $GITHUB_WORKSPACE
        mkdir build
        cd build
        cmake ..
        make
        mkdir bundle
        mv gosu-mruby bundle/
        mv ../vendor/gosu/lib64/libgosu.so bundle/
        mv ../vendor/gosu/lib64/libgosu-ffi.so bundle/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-linux64
        path: $GITHUB_WORKSPACE/build/bundle
