name: Build and Deploy

on: [push]

env:
  GOSU_VERSION: 1.4.3
  MRUBY_VERSION: 3.2.0

permissions:
  contents: read

jobs:
  windows:
    runs-on: windows-2022

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: simplify-build

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        path-type: inherit
        msystem: UCRT64
        install: >-
          ruby
          git
          make
          cmake
          mingw-w64-ucrt-x86_64-gcc
          mingw-w64-ucrt-x86_64-dlfcn
          mingw-w64-ucrt-x86_64-binutils

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Compile Gosu
      run: |
        C:\msys64\usr\bin\wget.exe https://github.com/gosu/gosu/archive/refs/tags/v$env:GOSU_VERSION.tar.gz
        C:\msys64\usr\bin\tar.exe -xf v$env:GOSU_VERSION.tar.gz
        ren gosu-$env:GOSU_VERSION\ gosu
        msbuild gosu\windows\Gosu.sln /p:Configuration=Release
        ren D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64\Gosu.lib D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64\gosu.lib

    - name: Compile wrapper
      shell: msys2 {0}
      run: |
        cd $GITHUB_WORKSPACE
        mkdir vendor/gosu && mkdir vendor/gosu/lib64
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/gosu.lib vendor/gosu/lib64
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/windows/x64/Release/gosu-ffi.lib vendor/gosu/lib64
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/ffi vendor/gosu/
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cd build/ && make && cd ..
        mkdir bundle/
        strip build/gosu-mruby.exe
        mv build/gosu-mruby.exe bundle/
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/gosu-ffi.dll bundle/
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/SDL2.dll bundle/
        mv /ucrt64/bin/libstdc++-6.dll bundle/
        mv /ucrt64/bin/libgcc_s_seh-1.dll bundle/
        mv /ucrt64/bin/libwinpthread-1.dll bundle/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-win64
        path: bundle

  linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: simplify-build

    - name: Install requirements of Gosu
      run: sudo apt install build-essential libsdl2-dev libgl1-mesa-dev libgmp-dev libfontconfig1-dev

    - name: Compile Gosu
      run: |
        wget https://github.com/gosu/gosu/archive/refs/tags/v$GOSU_VERSION.tar.gz
        tar -xf v$GOSU_VERSION.tar.gz
        mv gosu-$GOSU_VERSION gosu
        cd gosu/
        mkdir build
        cd build/
        cmake -DCMAKE_BUILD_TYPE=Release ..
        make
        mkdir $GITHUB_WORKSPACE/vendor/gosu
        mkdir $GITHUB_WORKSPACE/vendor/gosu/lib64
        mv libgosu.so $GITHUB_WORKSPACE/vendor/gosu/lib64
        mv ffi/libgosu-ffi.so $GITHUB_WORKSPACE/vendor/gosu/lib64
        mv ../ffi $GITHUB_WORKSPACE/vendor/gosu

    - name: Compile wrapper
      run: |
        cd $GITHUB_WORKSPACE
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build
        mkdir bundle/
        strip build/gosu-mruby
        mv build/gosu-mruby bundle/
        mv vendor/gosu/lib64/libgosu.so bundle/
        mv vendor/gosu/lib64/libgosu-ffi.so bundle/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-linux64
        path: bundle
