name: Build and Deploy

on: [push]

permissions:
  contents: read

# FIXME: Automatically get the version, and really don't hardcode everything
jobs:
  Windows:
    runs-on: windows-2022

    env:
      MRUBY_CONFIG: ../gosu-mruby-wrapper/scripts/mruby/windows.rb
    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        install: >-
          ruby
          git
          make
          cmake
          mingw-w64-ucrt-x86_64-gcc
          mingw-w64-ucrt-x86_64-dlfcn

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Compile Gosu
      run: |
        C:\msys64\usr\bin\wget.exe https://github.com/gosu/gosu/archive/refs/tags/v1.4.3.tar.gz
        C:\msys64\usr\bin\tar.exe -xf v1.4.3.tar.gz
        ren gosu-1.4.3 gosu
        msbuild gosu\windows\Gosu.sln /p:Configuration=Release
        ren D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64\Gosu.lib D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64\gosu.lib
        move D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64\gosu-ffi.dll D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu # Don't leave the dll in this dir
        move D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\windows\x64\Release\gosu-ffi.lib D:\a\gosu-mruby-wrapper\gosu-mruby-wrapper\gosu\lib64

    - name: Compile MRuby
      shell: msys2 {0}
      run: |
        git clone https://github.com/Chadowo/gosu-mruby-wrapper.git
        wget https://github.com/mruby/mruby/archive/refs/tags/3.2.0.tar.gz
        tar -xf 3.2.0.tar.gz
        mv mruby-3.2.0/ mruby/
        cd mruby/
        rake
        cd ..

    - name: Compile wrapper
      shell: msys2 {0}
      run: |
        mkdir D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu-mruby-wrapper/vendor/gosu
        cp D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/gosu.lib D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu-mruby-wrapper/vendor/gosu/libgosu.lib
        cp D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/gosu-ffi.lib D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu-mruby-wrapper/vendor/gosu/libgosu-ffi.lib
        cp D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/mruby/build/host/lib/libmruby.a D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu-mruby-wrapper/vendor/mruby/libmruby.a
        cd gosu-mruby-wrapper/
        mkdir build
        cd build/
        cmake ..
        make
        mkdir gosu-mruby-wrapper-1.0.0
        mv GosuMRuby.exe gosu-mruby-wrapper-1.0.0/
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/gosu-ffi.dll gosu-mruby-wrapper-1.0.0/
        mv D:/a/gosu-mruby-wrapper/gosu-mruby-wrapper/gosu/lib64/SDL2.dll gosu-mruby-wrapper-1.0.0/
        mv C:/msys64/ucrt64/bin/libstdc++-6.dll gosu-mruby-wrapper-1.0.0/
        mv C:/msys64/ucrt64/bin/libgcc_s_seh-1.dll gosu-mruby-wrapper-1.0.0/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: gosu-mruby-wrapper-win64
        path: gosu-mruby-wrapper/build/gosu-mruby-wrapper-1.0.0

  Linux:
    runs-on: ubuntu-22.04

    env:
      MRUBY_CONFIG: ../gosu-mruby-wrapper/scripts/mruby/linux.rb
    steps:
    - uses: actions/checkout@v3

    - name: Install requirements of Gosu
      run: sudo apt install build-essential libsdl2-dev libgl1-mesa-dev libgmp-dev libfontconfig1-dev

    - name: Compile Gosu
      run: |
        wget https://github.com/gosu/gosu/archive/refs/tags/v1.4.3.tar.gz
        tar -xf v1.4.3.tar.gz
        mv gosu-1.4.3 gosu
        cd gosu
        mkdir build
        cd build
        cmake ..
        make
        mv libgosu.so ../lib64
        mv ffi/libgosu-ffi.so ../lib64
        cd ..
        cd ..

    - name: Compile MRuby
      run: |
        git clone https://github.com/Chadowo/gosu-mruby-wrapper.git
        wget https://github.com/mruby/mruby/archive/refs/tags/3.2.0.tar.gz
        tar -xf 3.2.0.tar.gz
        cd mruby-3.2.0
        rake
        cd ..

    - name: Compile wrapper
      run: |
        mkdir gosu-mruby-wrapper/vendor/gosu
        cp gosu/lib64/libgosu.so gosu-mruby-wrapper/vendor/gosu/libgosu.so
        cp gosu/lib64/libgosu-ffi.so gosu-mruby-wrapper/vendor/gosu/libgosu-ffi.so
        cp mruby-3.2.0/build/host/lib/libmruby.a gosu-mruby-wrapper/vendor/mruby/libmruby.a
        cd gosu-mruby-wrapper
        mkdir build
        cd build
        cmake ..
        make
        mkdir gosu-mruby-wrapper-1.0.0
        mv GosuMRuby gosu-mruby-wrapper-1.0.0/
        mv ../vendor/gosu/libgosu.so gosu-mruby-wrapper-1.0.0/
        mv ../vendor/gosu/libgosu-ffi.so gosu-mruby-wrapper-1.0.0/

    - name: Generate final artifact
      uses: actions/upload-artifact@v3
      with:
        name: gosu-mruby-wrapper-linux64
        path: gosu-mruby-wrapper/build/gosu-mruby-wrapper-1.0.0
